* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/img/background.jpg");
  overflow: hidden;
}

.login {
  background-color: #fff;
  width: 40%;
  height: 85vh;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}